@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

html {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
}

body {
    background-color: #364958;
    display: flex;
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
}

#menu-ctn {
    display: flex;
    flex-direction: column;
    width: 15vw;

    #back {
        display: flex;
        margin-left: 40px;
        margin-top: 40px;
        gap: 15px;
    }

    #back a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }

    #back img {
        transform: scale(1.3);
    }

    #log-out {

        margin-left: 40px;
        margin-bottom: 80px;

        display: flex;
        gap: 10px;

        a {
            color: #C9E4CA;
            font-weight: 800;
            text-decoration: none;

            font-size: 22px;
        }
    }

}

.menu-grp {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
}

.menu-grp-head {
    font-family: 'Montserrat';
    font-weight: 800;
    color: #55828B;
    margin: 20px 0;

    a {
        position: relative;
        left: 5px;
    }
}

.menu-item {
    margin: 2px 0;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;

    width: calc(100% - 40px);
    padding: 10px;
    padding-left: 12px;

    transition: padding-left 0.1s ease-out;
}


.menu-item:hover {
    background-color: #87bba282;
    border-radius: 10px;
    padding-left: 20px;
}

#main-ctn {
    flex: 1 1 0;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#main-ctn::-webkit-scrollbar {
    width: 2px;
}

#main-ctn {
    padding: 30px 150px;
    display: flex;
    flex-direction: column;

    #brand-logo {
        font-family: 'Fira Mono';
        align-self: flex-end;
        color: #55828B;
        font-size: 20px;
        position: relative;
        right: -110px;
    }


    #main-head {
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 20px;
        color: #364958;
    }
}

hr {
    width: 100%;

}

#stat-ctn {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    .stat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stat-item-htext {
        font-weight: 700;
        font-size: 20px;
        color: #364958;
    }

    .stat-item-num {
        font-weight: 600;
        font-size: 40px;
        color: #55828B;

    }
}

#last-few-don-ctn {

    margin-top: 30px;

    h4 {
        font-size: 20px;
        color: #364958;
    }
}

#few-don-ctn {
    background-color: #EDF2F4;
    padding: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
    border: 1px solid #364958;
}

#few-don-ctn-hist {
    margin-top: 40px;
}

.don-list-grp {
    margin-bottom: 50px;
}

#date {
    font-weight: 600;
    font-size: 16px;
    color: #55828B;
    margin-bottom: 20px;
}

.char-row {
    display: flex;
    align-items: center;
    gap: 30px;

    .num {
        font-weight: 600;
        color: #55828B;
        font-size: 16px;
    }

    .char-name {
        color: #364958;
        font-weight: 700;
        font-size: 16px;
    }

    .char-desc {
        flex: 1 1 auto;
        font-weight: 300;
        font-size: 14px;
        color: #364958;
    }

    .contr-ctn {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

        .contr-txt,
        .don-txt {
            font-weight: 300;
            color: #55828B;
            font-size: 14px;
        }

        .contr-mon,
        .don-id {
            font-weight: 700;
            color: #364958;
            font-size: 18px;
        }

        .don-id {
            font-size: 18px;
        }

    }
}


#char-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 100%;
    margin-top: 40px;
}

.char-ctn {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
    height: 100%;
    padding: 20px;
    font-family: "Montserrat", "serif";
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 25%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img-desc {
    display: flex;
    width: 100%;
    height: 150px;

    img {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;

        max-width: 200px;
        height: auto;

    }

    p {

        font-family: 'Montserrat', 'serif';
        font-size: 13px;
        font-weight: 300;

        overflow-x: hidden;
    }
}

::-webkit-scrollbar {
    width: 1px;
}

@media (max-width : 1200px) {
    .img-desc {
        height: fit-content;
    }

}

.progress-ctn {
    .text-1 {
        font-size: 13px;
        font-weight: 600;
    }

    .text-2 {
        float: right;
        font-size: 10px;
        font-weight: 600;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}

.contr-ctn {
    margin-top: 10px;
    align-self: f;

    #text1 {
        font-weight: 700;
        font-size: 13px;
    }

    .char-icons {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.contr-text {
    display: flex;

    #m_area {
        padding: 5px;
        height: 25px;
        border: 2px solid #364958;
        border-radius: 10px 0px 0px 10px;
        border-right: none;
        font-family: "Montserrat", "serif";
        font-weight: 600;
        background-color: #EDF2F4;
        padding-left: 10px;
        width: 100%;
        color: #364958;
    }

    #lock {
        background-color: #C9E4CA;
        width: 40px;
        border-color: #55828B;
        border-width: 2px;
        border-style: solid;
        border-radius: 0px 10px 10px 0px;
    }

    #lock:hover {
        background-color: #55828B;
        border-color: #364958;
        cursor: pointer;
    }

    #lock:hover svg path {
        stroke: #C9E4CA;
    }
}


.prog {
    width: 100%;
    background-color: #EDF2F4;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #C9E4CA;
    border-radius: 20px;
    transition: width 0.5s ease;
}

#security-ctn {
    margin-top: 20px;
    
}

.sec-head{
    margin-top: 30px;
}

.sec-row {
    display: flex;
    margin-bottom: 40px;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    .sec-txt {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .sec-title {
        font-size: 20px;
        color: #364958;
        font-weight: 500;
    }

    .sec-desc {
        font-size: 16px;
        color: #55828B;
        font-weight: 300;
    }

    .sec-act {
        display: flex;
        gap: 8px;
        align-items: center;
        border: 1px #55828B solid;
        padding: 10px 20px;
        border-radius: 20px;
        color: #55828B;
        font-weight: 500;
        font-size: 15px;
        box-sizing: border-box;
    }

    .sec-act:hover {
        border: 2px #55828B solid;
        box-sizing: border-box;

    }

    .act-txt:hover{
        cursor: pointer;
    }

    .sec-act-lnk {
        font-weight: 600;
        color: #55828B;
        text-decoration: none;
    }

    .del {
        color: #FF2626;
    }
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}


/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #87BBA2;
    transition: .4s;
}

input:checked+.slider {
    background-color: #87BBA2;
    border: 1px solid #87BBA2;
}

input:focus+.slider {
    box-shadow: 0 0 1px #87BBA2;
}

input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color: #EDF2F4;
}


#not-found-txt{
    text-align: center;
    color: #55828B;
    font-weight: 700;
}

#form-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 30px 0;

    .form-row-2{
        display: flex;
        justify-content: space-between;
        
        gap: 20px;

        .inp-ctn{
            flex: 1 1 auto;
            
        }
    }

    .form-row-2, .form-row{
        margin: 10px 0;

    }

    .inp-ctn{
        display: flex;
        flex-direction: column;

        .ilabel{
            font-size: 13px;
            font-weight: 500;
            margin-left: 5px;
        }

        input{
            margin-top: 5px;
            height: 40px;
            border-radius: 10px;
            border: none;
            background-color: #EDF2F4;

            font-family: 'Montserrat';
            color: #55828B;
            padding-left: 20px;
            font-size: 13px;
            
        }
        
        
        
    }
}


#first-ctn{
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    
}

#edit-ctn{
    margin-top: 65px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30ch;
    
    #desc, #desc:disabled{
        width: 100%;
        text-align: center;
        background-color: #EDF2F4;
        color: #364958;
        font-family: 'Montserrat';
        font-weight: 400;
        border: none;
        resize: none;
        padding: 10px;
    }

    #desc{
        background-color: #fff;
        border-radius: 20px;

    }

    #edit-icon{
        align-self: flex-end;
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }

    #edit-icon:hover{
        cursor: pointer;
        transform: scale(1.3);
    }
}

#profpic-ctn{
    background-color: #EDF2F4;
    padding: 30px 30px;
    border-radius: 20px;
    border: 1px solid #364958;
    color: #364958;
    
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;

    img{
        
        object-fit: contain;
    }

    #nickname-txt{
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;

        width: 100%;
        
        background-color: #fff;
        border-radius: 10px;
        border: none;
    }

    #nickname-txt:disabled{
        background-color: #EDF2F4;
        border: none;
    }

}

#changes-ctn{
    align-self: center;


    button{
        background-color: #fff;
        border: 2px solid #55828B;
        color: #55828B;
        border-radius: 20px;
        padding: 8px 16px;

        font-family: 'Montserrat';

        margin: 0px 10px;
    }

    button:disabled{
        display: none;
    }

    #cancel-btn{
        border:1px solid #FF2626;
        background-color: #ff26261d;
    }

    #confirm-btn{
        border:1px solid #87BBA2;
        background-color: #87bba230;
    }

    #confirm-btn:hover{
        cursor: pointer;
        background-color: #55828B;
        color: white;
    }

    #cancel-btn:hover{
        background-color: #FF2626;
        color: white;
        border-color: #FF2626;
        cursor:pointer;
    }
}
