* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #EDF2F4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    background: linear-gradient(to bottom right, #C9E4CA, #55828B);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.left-panel {
    
    padding: 60px 40px;
    color: #2c3e50;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand {
    font-family: 'Fira mono';
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    font-weight: 700;

    a{
        text-decoration: none;
        color: #364958;
    }
}

.tagline {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
}

.right-panel {
    background-color: white;
    padding: 40px;
    flex: 1.2;
    border-radius: 15px;
    content:"";
    -webkit-box-shadow:0 0 20px rgba(46, 45, 45, 0.8);
    box-shadow:0 0 20px rgba(46, 46, 46, 0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
}

.form-title {
    font-weight: 600;
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

.login-link {
    margin-bottom: 30px;
    color: #596977;
}

.login-link a {
    color: #5aa88e;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f3f6f9;
    border-radius: 10px;
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5aa88e;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.checkbox-container input {
    margin-right: 10px;
    margin-top: 5px;
}

.btn-submit {
    font-weight: 600;
    width: 100%;
    padding: 15px;
    background-color: #7eb89e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 15px;
}

.btn-submit:hover {
    background-color: #69a88b;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .left-panel {
        padding: 40px 20px;
    }
    
    .right-panel {
        padding: 30px 20px;
    }
    
    .form-row {
        flex-direction: column;
        gap: 0;
    }
}